:root {
    --white: #ECECEC;
    --black: #000;
    --text-color: rgba(255, 255, 255, 0.7);
    --color-js:#f1da1d;
    --color-html: #E44B27;
    --color-css: #254cde;
    --color-python: #366f9e;
}