:root {
    --white: #ECECEC;
    --black: #000;
    --text-color: rgba(255, 255, 255, 0.7);
    --color-js:#f1da1d;
    --color-html: #E44B27;
    --color-css: #254cde;
    --color-python: #366f9e;

    --color-gradient: linear-gradient(to right, #f12711, #ff8800);
}


.c-python {
    --color-linguagem:#366F9E;
}

.c-html {
    --color-linguagem:#e44b27;
}

.c-css {
    --color-linguagem: #254CDE;
}


.c-js {
    --color-linguagem: #F1DA1D;
}
